{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
  <form class="row g-3" method='post' action="">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Пошта</label>
      <input required name="email" type="email" class="form-control" id="inputEmail4" placeholder="Olek@gmail.com">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">ПІБ</label>
      <input required name="name" type="password" class="form-control" id="inputPassword4" placeholder="Інасів Ігор Ігорович">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Номер телефона</label>
      <input required name="phone" type="text" class="form-control" id="telephon" placeholder="+3801234567">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Вулиця</label>
      <input required name="adrees" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      <div class="col-md-6">
        <label for="inputCity" class="form-label">місто</label>
        <input required name="city" type="text" class="form-control" id="inputCity" placeholder="Львів">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label name="call-back" class="form-check-label" for="gridCheck">
            Передзвоніть для підтрвердження
          </label>
        </div>
      </div>
      <div class="col-12">
        <h4>До оплати {{product[5]}} грн</h4>
        <h4>{{product[1]}}</h4>
        <button  type="submit" class="btn btn-primary">Замовити</button>
      </div>
  </form>
</main>

{% endblock content %}